.meal {
  position: relative;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  height: 150px;
}

ul {
  list-style: none;
  padding-top: 0.4rem;
  grid-column: 1/7;
}

.first {
  padding-top: 0.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.second {
  padding-top: 0.4rem;
  font-family: monospace;
  font-size: large;
}

.third {
  padding-top: 0.4rem;
  color: goldenrod;
}

.meal h1 {
  color: black;
  font-size: larger;
  font-weight: 900;
  grid-column: 16/17;
  grid-row: 3/4;
  margin-left: -1rem;
}

.meal Button {
  bottom: 2.5rem;
  grid-column: 18/19;
  grid-row: 5/8;
  height: 2.7rem;
  width: 8rem;
  margin-left: auto;
}

.meal input {
  bottom: 7rem;
  grid-column: 19/20;
  grid-row: 1/2;
  width: 100%;
  height: 1.8rem;
  border-radius: 8px;
  font-size: large;
  font-weight: bolder;
}

hr {
  margin-right: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 0.1px solid rgba(177, 172, 172, 0.7);
  grid-column: 2/20;
  grid-row: 8/9;
}

Button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

Button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}
